#versionLink {
   cursor: pointer;
}
#revisionsPanel {
   display: none;
}
.panel {
   border: 1px solid transparent;
   box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default {
    border-bottom: 1px solid transparent;
    border-color: #ddd;
}
.panel-default > .panel-heading {
   text-align: left;
   padding: 7px 10px;
   background-color: #EFEFEF;
   justify-content: flex-start;
   color: #333;
   border-color: #ddd;
}
.panel-body {
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
}
.table {
	margin-bottom: 0px;
}